:root {
  --cor-fundo: #01080E;
  --cor-principal:#E0FFFF;
  --cor-secundaria:#B0E0E6;
  --cor-destaque: #2BDEFD;
  --cor-texto: #01080E;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
 .caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1{
 color: var(--cor-destaque);
}
